@charset "utf-8";
/* CSS Document */

.no-print {
display: none;
}
.small-text{font-size:24px;}
.font-normal{font-weight:normal;}
.margin-top{margin-top:25px;}
.margin-top-none{margin-top: 0;}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  float: left;
width: 100%;
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  padding:11px 15px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.icon-font {
font-size: 27px;
}
.margin-top-sm{margin-top:10px;}
.table-bordered-top{border-top:1px solid #ddd;}
.table-bordered-top td{padding:5px;}
.border-bottom{border-bottom:1px solid #ddd;padding-bottom:10px;}
.margin-bottom{margin-bottom:15px}

div#chat-box {
height: 250px;
overflow-y: overlay;
}
.day {
float: left;
background: rgb(212,228,239); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
min-height: 550px;
border-top-left-radius:5px;
border-top-right-radius:5px;
width:14%;
}
.day.active-day {
background: rgb(138,187,215); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(138,187,215,1) 1%, rgba(6,109,171,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(138,187,215,1)), color-stop(100%,rgba(6,109,171,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(138,187,215,1) 1%,rgba(6,109,171,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(138,187,215,1) 1%,rgba(6,109,171,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(138,187,215,1) 1%,rgba(6,109,171,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(138,187,215,1) 1%,rgba(6,109,171,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8abbd7', endColorstr='#066dab',GradientType=0 ); /* IE6-9 */

}
.day-name {
	border-top-left-radius:5px;
		border-top-right-radius:5px;
background: #fff;
text-align: center;
padding: 10px;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
z-index:9;
position: relative;
border-right: 1px solid #dadada;
}

.day-time{
	border-right: 1px solid#dadada;
background: rgb(237,237,243); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,237,243,1) 0%, rgba(216,225,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,243,1)), color-stop(100%,rgba(216,225,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,237,243,1) 0%,rgba(216,225,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,237,243,1) 0%,rgba(216,225,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,237,243,1) 0%,rgba(216,225,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(237,237,243,1) 0%,rgba(216,225,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededf3', endColorstr='#d8e1ea',GradientType=0 ); /* IE6-9 */
text-align: center;
padding: 10px;
box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.12);
}
.Add-event {
	position:relative;
border: 1px dotted gray;
width: 94%;
margin: 10px auto;
border-radius: 5px;
padding: 5px;
background: aliceblue;
font-size: 14px;
text-align: center;
line-height: 26px;
}
.Add-event .icon-tab {font-size:28px;}
.event-box {
margin: 0 auto;
width: 80%;
background: white;
border-radius: 5px;
overflow: hidden;
padding-top: 0;
text-align: center;
margin-top:5px;
border: 1px solid #dadada;
}
.top-tip {
padding:10px;
border-top-left-radius:5px;
border-top-right-radius:5px;
}
.shadule {
padding: 5px;
background: #EAF6FD;
}
.top-prirority{
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

}
.important{
			background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(248,181,0,1) 4%, rgba(248,181,0,1) 4%, rgba(252,205,77,1) 97%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(4%,rgba(248,181,0,1)), color-stop(4%,rgba(248,181,0,1)), color-stop(97%,rgba(252,205,77,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 4%,rgba(248,181,0,1) 4%,rgba(252,205,77,1) 97%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 4%,rgba(248,181,0,1) 4%,rgba(252,205,77,1) 97%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 4%,rgba(248,181,0,1) 4%,rgba(252,205,77,1) 97%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(248,181,0,1) 4%,rgba(248,181,0,1) 4%,rgba(252,205,77,1) 97%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fccd4d',GradientType=0 ); /* IE6-9 */
}
.reshadule-it{background: rgb(254,255,232); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,255,232,1) 0%, rgba(214,219,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,232,1)), color-stop(100%,rgba(214,219,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,255,232,1) 0%,rgba(214,219,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d6dbbf',GradientType=0 ); /* IE6-9 */
}
.border-bottom-left-radius{ border-bottom-left-radius:5px;}
.border-bottom-right-radius{ border-bottom-right-radius:5px;}
.border-left{border-right: 1px solid #dadada;}
.add-event {
position: absolute;
background: #004A71;
right: 34px;
top: -135px;
width: 223px;
z-index: 99;
border-radius: 5px;
display: none;
padding-bottom: 10px;
}
.event-name {
background: #fff;
margin: 0 3% 3% 3%;
padding: 5px;
width: 94%;
border: 0;
font-size: 12px;
text-align: center;
outline-style:none;
}
.name-teb{color:#fff;float:left;margin-left:3%;clear: both;}
.icheckbox_minimal {
margin-right: 5px;
}
.add {
background: rgb(142,185,42);
background: -moz-linear-gradient(top, rgba(142,185,42,1) 0%, rgba(142,185,42,1) 3%, rgba(114,170,0,1) 5%, rgba(114,170,0,1) 7%, rgba(158,203,45,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,185,42,1)), color-stop(3%,rgba(142,185,42,1)), color-stop(5%,rgba(114,170,0,1)), color-stop(7%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
background: -webkit-linear-gradient(top, rgba(142,185,42,1) 0%,rgba(142,185,42,1) 3%,rgba(114,170,0,1) 5%,rgba(114,170,0,1) 7%,rgba(158,203,45,1) 100%);
background: -o-linear-gradient(top, rgba(142,185,42,1) 0%,rgba(142,185,42,1) 3%,rgba(114,170,0,1) 5%,rgba(114,170,0,1) 7%,rgba(158,203,45,1) 100%);
background: -ms-linear-gradient(top, rgba(142,185,42,1) 0%,rgba(142,185,42,1) 3%,rgba(114,170,0,1) 5%,rgba(114,170,0,1) 7%,rgba(158,203,45,1) 100%);
background: linear-gradient(to bottom, rgba(142,185,42,1) 0%,rgba(142,185,42,1) 3%,rgba(114,170,0,1) 5%,rgba(114,170,0,1) 7%,rgba(158,203,45,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb92a', endColorstr='#9ecb2d',GradientType=0 );
padding: 7px;
margin-bottom: 10px;
position: relative;
}
.close-box.closes {
float: right;
position: absolute;
top: 9px;
right: 5px;
width: 17px;
background: #fff;
border-radius: 100%;
height: 17px;
font-size: 10px;
line-height: 17px;
cursor:pointer;
}